---
layout: default
tile: home
#permalink: /home/
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
       <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}   <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></a>
    {% endfor %}
  </ul>

  {% if site.openFeed %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endif %}
</div>
